VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_EMAILJS_PUBLIC_KEY=placeholder
VITE_EMAILJS_SERVICE_ID=placeholder
VITE_EMAILJS_CONTACT_TEMPLATE=placeholder
VITE_EMAILJS_AUTH_TEMPLATE=placeholder
VITE_WHATSAPP_NUMBER=
VITE_TELEGRAM_USERNAME=
VITE_TELEGRAM_DISPLAY=
VITE_INSTAGRAM_URL=
VITE_YOUTUBE_URL=
VITE_TWITTER_URL=
VITE_API_URL=
